<div class="panel panel-default">
  <div class="panel-heading">
    Current homeworks
  </div>

  <% if @current_assignments %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Homework</th>
          <th>Due date</th>
        </tr>
      </thead>
      <tbody>
        <% @current_assignments.each do |assignment| %>
          <tr>
            <td><%= assignment.homework.title %></td>
            <td><%= assignment.homework.due_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<% unless @past_assignments.empty? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      Past homeworks
    </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Homework</th>
            <th>Due date</th>
          </tr>
        </thead>
        <tbody>
          <% @past_assignments.each do |assignment| %>
            <tr>
              <td><%= assignment.homework.title %></td>
              <td><%= assignment.homework.due_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
<% end %>